@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300;400;700&display=swap');

body{
    
    margin: 0;
    font-family: 'Dongle', sans-serif;
}

body * {
    box-sizing: border-box;
    font-size: 6vw;
}

section{
    width: 100vw;
    height: 100vh;
    background-color: #B9DDFB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login-image{
    width: 35vw;
}

.left-login > h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 6vw;
    color: rgb(15, 126, 89);
}

.left-login > h2{
   text-align: center;
   font-size: 3vw;
}

.right-login{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background-color: #5791ac;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;flex-direction: column;
}

form > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;  
}


.text-field{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px;
}
.text-field > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    text-align: center;
    box-sizing: border-box;
    /*o box-sizing impede que exista o problema que acontece se diminuir o tamanho da viewport*/
}

.text-field > label {
    color: #f0ffffde;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-field > select{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    text-align: center;
    box-sizing: border-box;

}

.text-field > input::placeholder{
    color: #f0ffff94;
}

.text-field > .btn {
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    text-align: center;
    box-sizing: border-box;
}

@media only screen and (max-width: 950px){
    form{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    section{
        flex-direction: column;
    }

    .left-login > h2 {
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 40vw;
    }

    form{
        width: 90%;
    }
}
